# DEPENDENCIES -----------------------------------------------------------------
/node_modules
/.pnp
.pnp.js

# TESTING ----------------------------------------------------------------------
/coverage

# GATSBY -----------------------------------------------------------------------
.cache/
public/
src/gatsby-types.d.ts

# MISCELLANEOUS ----------------------------------------------------------------
.DS_Store
*.pem
tsconfig.tsbuildinfo

# TEMPORARY FILES --------------------------------------------------------------
.tmp/

# .ENV FILES -------------------------------------------------------------------
.env
.env\*

# DEBUG ------------------------------------------------------------------------
npm-debug.log*
yarn-debug.log*
yarn-error.log*
