.header {
  background-color: black;
  box-shadow: 0 2px 2px hsl(0 0 0 / 0.5);
  display: flex;
  position: sticky;
  min-height: 40px;
  margin: 0 0 0.5rem;
  padding: 0 0.5rem;
}

.header__menu {
  display: flex;
  list-style: none;
  margin: 0.5rem 0 0;
  padding: 0;
  gap: 0.5rem;
}

.header__menu li {
  margin: 0;
  padding: 0;
}

.header__menu a {
  color: white;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.header__menu a:hover {
  color: orange;
}

.header__menu a.current {
  cursor: default;
}

.header__menu a:hover {
  color: white;
}

.content {
  padding: 0 0.5rem;
}
